{% load feedback_element %}
<div id="feedback-form">
    <form action="/feedback/submit/{{form.id}}/{% if placement_id %}placement/{{placement_id}}/{% endif %}" method="post">
        {% csrf_token %}
        {% block form_head %}
        {% endblock %}
        {% for element in form.elements %}
            {% feedback_element element %}
        {% endfor %}
        <div class="feedback-form-button">
            <button type="submit">Submit</button>
        </div>
        {% block form_footer %}
        {% endblock %}
    </form>
</div>